apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3004"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: payment-service
        image: payment-service:1.0
        imagePullPolicy: Never
        ports:
        - containerPort: 3004
        env:
        - name: PORT
          value: "3004"
        - name: RABBIT_URL
          value: "amqp://guest:guest@rabbitmq:5672"
        - name: ORDER_SERVICE_BASE
          value: "http://order-service:3003"
        livenessProbe:
          httpGet:
            path: /health
            port: 3004
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3004
          initialDelaySeconds: 5
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment-service
  ports:
  - protocol: TCP
    port: 3004
    targetPort: 3004
  type: LoadBalancer
